{% load static %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Magnific Popup - Lightbox for the gallery-->
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth scroll-->
<script src="{% static 'vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
<!-- Bootstrap Select-->
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
<script src="{% static 'vendor/object-fit-images/ofi.min.js' %}"></script>
<!-- Swiper Carousel                       -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="{% static 'js/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoint/infinite.min.js' %}"></script>
<script src="{% static 'js/form/jquery.form.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyD8A1j9FdYG0tGsPwf8Sa8aBOVkjHvGPws"></script>

<script>var basePath = ''</script>
<!-- Main Theme JS file    -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Daterange picker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>


<script>

    function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }

    injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

</script>

<script>
    $(document).ready(function () {

        infinit_scroll();
        init_price_filter();
        read_data_Map();

    });

    function read_data_Map(){
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: '',
            data: {
                'command': 'read_location'
            },
            success: function (data) {
                init_map(data)
            },
            error: function (err) {
                return err;
            }
        });
    }

    function init_map(data) {
        var geocoder;
        var autocomplete = new google.maps.places.Autocomplete((document.getElementById('search_location')), {
            types: ['geocode'],
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
              $('#search-frm').submit();
        });
        geocoder = new google.maps.Geocoder();
        const latlng = new google.maps.LatLng(52.219396, 21.002137);
        const myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        let map = new google.maps.Map(document.getElementById('categorySideMap'), myOptions);
        for (let i = 0; i < data.length; i++) {
            console.log(data[i].fields.price);
            display_marker(map, geocoder, data[i].fields.address , data[i].fields.zipcode,
                '$'+ data[i].fields.price, '/media/'+ data[i].fields.photo);
        }
    }

    function infinit_scroll() {
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {
            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function (items) {
                $('.spinner-border').hide();
                console.log(items);
            }
        });
    }

    function display_marker(map, geocoder, address, zipcode ,price, image) {
        if (geocoder) {
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (status !== google.maps.GeocoderStatus.ZERO_RESULTS) {
                        map.setCenter(results[0].geometry.location);

                        var card = `<div class="marker-img-container">
                                        <img src="${image}" class="marker-img">
                                    </div>
                                    <p class="m-1 text-muted text-sm"><b>${address}</b></p>
                                    <p class="m-1 text-muted text-sm">${zipcode}</p>
                                    <p class="m-1 text-primary text-sm"><b>${price}/mo</b></p>`;
                        var infowindow = new google.maps.InfoWindow(
                            {
                                content: card,
                                size: new google.maps.Size(200, 200)
                            });

                        var marker = new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map,
                            icon:'/static/img/marker.svg',
                            title: address,
                            scaledSize: new google.maps.Size(10, 10),
                            origin: new google.maps.Point(0,0), // origin
                            anchor: new google.maps.Point(0, 0), // anchor
                        });

                        google.maps.event.addListener(marker, 'mouseover', function () {
                            infowindow.open(map, marker);
                        });

                        google.maps.event.addListener(marker, 'mouseout', function () {
                            infowindow.close(map, marker);
                        });

                    } else {
                        alert("No results found");
                    }
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }
    }

    function init_price_filter() {
        var snapSlider = document.getElementById('slider-snap');

         var snapValues = [
            document.getElementById('slider-snap-value-from'),
            document.getElementById('slider-snap-value-to')
        ];
        var inputValues = [
            $('#id_price_min'),
            $('#id_price_max')
        ];

        noUiSlider.create(snapSlider, {
            start: [inputValues[0].val(), inputValues[1].val()],
            snap: false,
            connect: true,
            step: 100,
            range: {
                'min': 0,
                'max': 15000
            }
        });


        snapSlider.noUiSlider.on('update', function (values, handle) {
            var temp = inputValues[handle].val();
            inputValues[handle].val(Math.round(values[handle]));
            snapValues[handle].innerHTML = Math.round(values[handle]);
            if(temp !== inputValues[handle].val()){
                $('#search-frm').submit();
            }

        });
    }


    $(document).on('change', '#id_location', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#id_pet', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#id_rent_type', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#id_bed', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#slider-snap-value-from', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#slider-snap-value-to', function () {
        $('#search-frm').submit()
    });

    document.querySelector('#id_search_text').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            $('#search-frm').submit()
        }
    };




</script>