{% load static %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Magnific Popup - Lightbox for the gallery-->
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth scroll-->
<script src="{% static 'vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
<!-- Bootstrap Select-->
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
<script src="{% static 'vendor/object-fit-images/ofi.min.js' %}"></script>
<!-- Swiper Carousel                       -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="{% static 'js/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoint/infinite.min.js' %}"></script>
<script src="{% static 'js/form/jquery.form.js' %}"></script>
<script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyD8A1j9FdYG0tGsPwf8Sa8aBOVkjHvGPws"></script>

<script>var basePath = ''</script>
<!-- Main Theme JS file    -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Daterange picker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>


<script>

    function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }

    injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

</script>

<script>
    var map;
    var waypoint;
    $(document).ready(function () {

        infinit_scroll();
        init_price_filter();
        read_data_Map();
        update_bb();

    });


    function read_data_Map(){
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: '',
            data: {
                'command': 'read_location'
            },
            success: function (data) {
                init_map(data)
            },
            error: function (err) {
                return err;
            }
        });
    }

    function init_map(data) {
        var geocoder;

        var autocomplete = new google.maps.places.Autocomplete((document.getElementById('search_location')), {
            types: ['(cities)'],
            componentRestrictions: {
                 country: ["us"],
            }
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
              submit_frm();
        });

        geocoder = new google.maps.Geocoder();
        const latlng = new google.maps.LatLng(36.771109, -119.637934);
        const myOptions = {
            zoom: 5.5,
            center: latlng,
            scrollwheel: false,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('categorySideMap'), myOptions);
        let markers = [];
        for (let i = 0; i <data.length; i++) {

            if(i > 200){
                break;
            }

            var marker = display_point(map, data[i].fields.lat, data[i].fields.lng,  data[i].fields.address , data[i].fields.zipcode,
                '$'+ data[i].fields.price, '/media/'+ data[i].fields.photo);

            markers.push(marker);
            /*
            var markerCluster = new MarkerClusterer(map, markers,
                                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

            */
        }

        var address = $('#search_location').val().split(',')[0];
        console.log(address);
        if(address){
            show_city_bound(address, map);
        }
        else{
            read_boundary('california', map);
        }
    }

    function infinit_scroll() {
        new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {
            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                console.log('here');
            },
            onAfterPageLoad: function (items) {
                console.log(items);
            }
        });

    }

    function display_point(map, lat, lng, address, zipcode ,price, image,) {
       var card = `<div class="marker-img-container">
                <img src="${image}" class="marker-img">
            </div>
            <p class="m-1 text-muted text-sm"><b>${address}</b></p>
            <p class="m-1 text-muted text-sm">${zipcode}</p>
            <p class="m-1 text-primary text-sm"><b>${price}/mo</b></p>`;

        var infowindow = new google.maps.InfoWindow(
            {
                content: card,
                size: new google.maps.Size(200, 200)
            });

        const latlng = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            icon: {
                url:'data:image/svg+xml;charset=utf-8,' + encodeURIComponent('<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="4.5" stroke="black" fill="#50e3c2" fill-opacity="1.0" stroke-width="0.5" /></svg>'),
                size: new google.maps.Size(10, 10),
                scaledSize: new google.maps.Size(10, 10),
                anchor: new google.maps.Point(5, 5),
                labelOrigin: new google.maps.Point(5, 5)
              },
            title: address,
            scaledSize: new google.maps.Size(10, 10),
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(0, 0), // anchor
        });

        google.maps.event.addListener(marker, 'mouseover', function () {
            infowindow.open(map, marker);
        });

        google.maps.event.addListener(marker, 'mouseout', function () {
            infowindow.close(map, marker);
        });

        return marker;
    }

     function init_price_filter() {
        var snapSlider = document.getElementById('slider-snap');

         var snapValues = [
            document.getElementById('slider-snap-value-from'),
            document.getElementById('slider-snap-value-to')
        ];
        var inputValues = [
            $('#id_price_min'),
            $('#id_price_max')
        ];

        noUiSlider.create(snapSlider, {
            start: [inputValues[0].val(), inputValues[1].val()],
            snap: false,
            connect: true,
            step: 100,
            range: {
                'min': 0,
                'max': 30000
            }
        });


        snapSlider.noUiSlider.on('update', function (values, handle) {
            var temp = inputValues[handle].val();
            inputValues[handle].val(Math.round(values[handle]));
            snapValues[handle].innerHTML = Math.round(values[handle]);

        });
    }


    function submit_frm(){
        $('#categorySideMap').empty();
        var frmdata = $('#search-frm').serialize();
        $.ajax({
            type: 'get',
            url: '/',
            data: frmdata,
            success: function (data) {

                $('#all-counts').text(data.counts);
                $('.infinite-container').html($.parseHTML(data.content));
                $('#more-container').html($.parseHTML(data.more_link));
                window.history.pushState(null, 'real estate', this.url);
                infinit_scroll();
                read_data_Map();
                var address = $('#search_location').val().split(',')[0];
                show_city_bound(address, map);
            },
            error: function (err) {
                return err;
            }
        });
    }

    function show_city_bound(city, map) {
        var request = new XMLHttpRequest();
        var url = '/static/data/usa.kml';
        var bound_data = [];
        request.open("GET", url, true);
        request.send();
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                if (window.DOMParser)
                {
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(request.responseText, "text/xml");
                }
                else // Internet Explorer
                {
                    xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                    xmlDoc.async = false;
                    xmlDoc.loadXML(data);
                }

                $(xmlDoc).find("Placemark").each(function () {
                    $(this).find("SimpleData").each(function () {
                        if($(this).attr('name') === 'NAME_2'){
                            if($(this).text() == city){
                                var index = 0;
                                var temp = $(this).parent().parent().parent().find('coordinates').first();

                                     var points = buildCoordinatesArrayFromString(temp.text());
                                     draw_bound(points, map, '#0000ff');

                            }
                        }
                    })
                });
            }
        }

    }

    function buildCoordinatesArrayFromString(MultiGeometryCoordinates){
        var finalData = [];
        var grouped = MultiGeometryCoordinates.split(" ");
        grouped.forEach(function(item, i){
            let a = item.trim().split(',');
            finalData.push({
                lng: parseFloat(a[0]),
                lat: parseFloat(a[1])
            });
        });
        return finalData;
    }

    function read_boundary(city, map){
        var request = new XMLHttpRequest();
        var url = '/static/data/'+city+'.xml';
        var bound_data = [];
        request.open("GET", url, true);
        request.send();
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                 if (window.DOMParser)
                {
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(request.responseText, "text/xml");
                }
                else
                {
                    xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                    xmlDoc.async = false;
                    xmlDoc.loadXML(data);
                }

                var points = xmlDoc.getElementsByTagName("point");

                for (var i = 0; i < points.length; i++) {
                    bound_data.push({
                        lng: parseFloat(points[i].getAttribute("lng")),
                        lat: parseFloat(points[i].getAttribute("lat"))
                    })
                }
                draw_bound(bound_data, map, '#0000ff');

            }
        }
    }

    function draw_bound(points, map, color='#50e3c2'){
         var BucaramangaPolygon = new google.maps.Polygon({
            paths: points,
            strokeColor: color,
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: color,
            fillOpacity: 0.02
        });

        var bounds = new google.maps.LatLngBounds();
        for(var i=0; i< points.length; i++){
            bounds.extend(points[i])
        }
        map.fitBounds(bounds);
        // Draw the polygon on the desired map instance
        BucaramangaPolygon.setMap(map);
    }

    function update_bb(){
        var bed_text = $('#id_bed').find(":selected").text();
        var bath_text = $('#id_bath').find(":selected").text();
        $('#bed-bath').val(bed_text + ',  ' + bath_text);
    }


    $(document).on('change', '#id_pet', function () {
        submit_frm();
    });

    $(document).on('change', '#id_rent_type', function () {
        submit_frm();
    });

    $(document).on('change', '#id_bed', function () {
        update_bb();
        submit_frm();
    });

    $(document).on('change', '#id_bath', function () {
        update_bb();
        submit_frm();
    });

    $(document).on('change', '#slider-snap-value-from', function () {
        console.log('here');
        submit_frm();
    });

    $(document).on('change', '#slider-snap-value-to', function () {
        console.log('here');
        submit_frm();
    });


    $(document).on('click', '#search', function () {
        submit_frm();
    });


    document.querySelector('#id_search_text').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            submit_frm();
        }
    };


     $(document).on('click', '.noUi-touch-area', function () {
        submit_frm();
    });

    $(document).on('click', '.heart', function () {
        var token = '{{csrf_token}}';
        var login_check = $('#log').val();
        var likes_btn = $(this);
        var id = $(this).attr('data-id');
        if(login_check === 'True'){
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                url:'/property-likes/',
                type: 'post',
                data: {
                    'id': id
                },
                success: function (data) {
                    if(data.is_liked)
                    {
                        likes_btn.addClass('liked');

                    }
                    else{
                        likes_btn.removeClass('liked');
                    }

                }
            });
        }
        else{
            window.location.href = '/authentication/';
        }
    });

    $(document).on('click', '#bed-bath', function () {
        $('.more-control').toggleClass('show');
    });


    $(document).on('click', '.more-close', function () {
        $('.more-control').removeClass('show');
    })

</script>