{% load static %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Magnific Popup - Lightbox for the gallery-->
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth scroll-->
<script src="{% static 'vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
<!-- Bootstrap Select-->
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
<script src="{% static 'vendor/object-fit-images/ofi.min.js' %}"></script>
<!-- Swiper Carousel                       -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="{% static 'js/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoint/infinite.min.js' %}"></script>
<script src="{% static 'js/form/jquery.form.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyD8A1j9FdYG0tGsPwf8Sa8aBOVkjHvGPws"></script>

<script>var basePath = ''</script>
<!-- Main Theme JS file    -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Daterange picker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>


<script>

    function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }

    injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

</script>

<script>
    var map;
    $(document).ready(function () {

        infinit_scroll();
        init_price_filter();
        read_data_Map();
        setup_ajax_form();


    });


    function read_data_Map(){
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: '',
            data: {
                'command': 'read_location'
            },
            success: function (data) {
                init_map(data)
            },
            error: function (err) {
                return err;
            }
        });
    }

    function init_map(data) {
        var geocoder;
        var autocomplete = new google.maps.places.Autocomplete((document.getElementById('search_location')), {
            types: ['(cities)'],
            componentRestrictions: {
                 country: ["us"],
            }
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
              submit_frm();
        });
        geocoder = new google.maps.Geocoder();
        const latlng = new google.maps.LatLng(36.771109, -119.637934);
        const myOptions = {
            zoom: 5.5,
            center: latlng,
            scrollwheel: false,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('categorySideMap'), myOptions);

        for (let i = 0; i < data.length; i++) {
            console.log(data[i].fields.price);
            display_marker(map, geocoder, data[i].fields.address , data[i].fields.zipcode,
                '$'+ data[i].fields.price, '/media/'+ data[i].fields.photo);
        }

        read_boundary('california', map);
        show_city_bound();
        var address = $('#search_location').val().split(',')[0];
        show_city_bound(address, map);

    }

    function infinit_scroll() {
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {
            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function (items) {
                $('.spinner-border').hide();
                console.log(items);
            }
        });
    }

    function display_marker(map, geocoder, address, zipcode ,price, image) {
        if (geocoder) {
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (status !== google.maps.GeocoderStatus.ZERO_RESULTS) {
                        map.setCenter(results[0].geometry.location);

                        var card = `<div class="marker-img-container">
                                        <img src="${image}" class="marker-img">
                                    </div>
                                    <p class="m-1 text-muted text-sm"><b>${address}</b></p>
                                    <p class="m-1 text-muted text-sm">${zipcode}</p>
                                    <p class="m-1 text-primary text-sm"><b>${price}/mo</b></p>`;
                        var infowindow = new google.maps.InfoWindow(
                            {
                                content: card,
                                size: new google.maps.Size(200, 200)
                            });

                        var marker = new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map,
                            icon:'/static/img/marker.svg',
                            title: address,
                            scaledSize: new google.maps.Size(10, 10),
                            origin: new google.maps.Point(0, 0), // origin
                            anchor: new google.maps.Point(0, 0), // anchor
                        });

                        google.maps.event.addListener(marker, 'mouseover', function () {
                            infowindow.open(map, marker);
                        });

                        google.maps.event.addListener(marker, 'mouseout', function () {
                            infowindow.close(map, marker);
                        });

                    } else {
                        alert("No results found");
                    }
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }
    }

    function init_price_filter() {
        var snapSlider = document.getElementById('slider-snap');

         var snapValues = [
            document.getElementById('slider-snap-value-from'),
            document.getElementById('slider-snap-value-to')
        ];
        var inputValues = [
            $('#id_price_min'),
            $('#id_price_max')
        ];

        noUiSlider.create(snapSlider, {
            start: [inputValues[0].val(), inputValues[1].val()],
            snap: false,
            connect: true,
            step: 100,
            range: {
                'min': 0,
                'max': 15000
            }
        });


        snapSlider.noUiSlider.on('update', function (values, handle) {
            var temp = inputValues[handle].val();
            inputValues[handle].val(Math.round(values[handle]));
            snapValues[handle].innerHTML = Math.round(values[handle]);
/*            if(temp !== inputValues[handle].val()){
                submit_frm();
            }
*/
        });
    }

    function setup_ajax_form(){
        $('#search-frm').ajaxForm({
        success:function(data)
        {
            $('.ajax-container').empty();
            $('.ajax-container').html($.parseHTML(data));
            infinit_scroll();
        }
    });
    }

    function submit_frm(){
        var frmdata = $('#search-frm').serialize();
        $.ajax({
            type: 'get',
            url: '/',
            data: frmdata,
            success: function (data) {
                $('.ajax-container').empty();
                $('.ajax-container').html($.parseHTML(data));
                window.history.pushState(null, 'real estate', this.url);
                infinit_scroll();
                read_data_Map();
                var address = $('#search_location').val().split(',')[0];
                show_city_bound(address, map);
            },
            error: function (err) {
                return err;
            }
        });
    }

    function show_city_bound(city, map) {
        var request = new XMLHttpRequest();
        var url = '/static/data/usa.kml';
        var bound_data = [];
        request.open("GET", url, true);
        request.send();
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                if (window.DOMParser)
                {
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(request.responseText, "text/xml");
                }
                else // Internet Explorer
                {
                    xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                    xmlDoc.async = false;
                    xmlDoc.loadXML(data);
                }

                $(xmlDoc).find("Placemark").each(function () {
                    $(this).find("SimpleData").each(function () {
                        if($(this).attr('name') === 'NAME_2'){
                            if($(this).text() == city){
                                $(this).parent().parent().parent().find('coordinates').each(function () {
                                     var points = buildCoordinatesArrayFromString($(this).text());
                                     draw_bound(points, map, '#0000ff');
                                });
                            }
                        }
                    })
                });
            }
        }

    }

    function buildCoordinatesArrayFromString(MultiGeometryCoordinates){
        var finalData = [];
        var grouped = MultiGeometryCoordinates.split(" ");
        grouped.forEach(function(item, i){
            let a = item.trim().split(',');
            finalData.push({
                lng: parseFloat(a[0]),
                lat: parseFloat(a[1])
            });
        });
        return finalData;
    }

    function read_boundary(city, map){
        var request = new XMLHttpRequest();
        var url = '/static/data/'+city+'.xml';
        var bound_data = [];
        request.open("GET", url, true);
        request.send();
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                 if (window.DOMParser)
                {
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(request.responseText, "text/xml");
                }
                else
                {
                    xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                    xmlDoc.async = false;
                    xmlDoc.loadXML(data);
                }

                var points = xmlDoc.getElementsByTagName("point");

                for (var i = 0; i < points.length; i++) {
                    bound_data.push({
                        lng: parseFloat(points[i].getAttribute("lng")),
                        lat: parseFloat(points[i].getAttribute("lat"))
                    })
                }

                // Construct the polygon.

                draw_bound(bound_data, map, '#0000ff');

            }
        }
    }

    function draw_bound(points, map, color='#50e3c2'){
         var BucaramangaPolygon = new google.maps.Polygon({
            paths: points,
            strokeColor: color,
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: color,
            fillOpacity: 0.02
        });

        // Draw the polygon on the desired map instance
        BucaramangaPolygon.setMap(map);
    }

    $(document).on('change', '#id_location', function () {
        submit_frm();
    });


    $(document).on('change', '#id_pet', function () {
        submit_frm();
    });

    $(document).on('change', '#id_rent_type', function () {
        submit_frm();
    });

    $(document).on('change', '#id_bed', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#slider-snap-value-from', function () {
        $('#search-frm').submit()
    });

    $(document).on('change', '#slider-snap-value-to', function () {
        $('#search-frm').submit()
    });

    document.querySelector('#id_search_text').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            $('#search-frm').submit()
        }
    };




</script>