{% load static %}
<style>
    .more-control{
        border: 1px solid #ced4da;
        border-radius: 0.4rem;
        position: absolute;
        background-color: #fff;
        z-index: 3;
        width: Calc(100% - 30px);
        display: none;
}

    .show{
        display: block;
    }

    .form-input{
        letter-spacing: .3em;
        font-weight: bold;
        padding: 0.525rem 0.75rem;
        font-size: 0.8rem;
        line-height: 1.6;
    }

</style>

<form action="" autocomplete="off" id="search-frm" >
    <div class="mb-4">
        {{ form.location}}
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <label class="form-label" for="form_type">Rent type</label>
            {{ form.rent_type }}
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <label class="form-label" for="form_guests">Pets Allowed</label>
            {{ form.pet }}
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <label class="form-label" for="form_type">Beds</label>
            <input class="form-control form-input" placeholder="BED and BATH" id="bed-bath" >
            <div class="bed-bath p-1 more-control" >
                {{ form.bed }}
                {{ form.bath }}
                <button class="btn btn-primary more-close" type="submit" style="width: 100%"> done </button>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <label class="form-label">Price range</label>
            <div class="text-primary" id="slider-snap"></div>
            <div class="nouislider-values">
                <div class="min">From $<span id="slider-snap-value-from"></span></div>
                <div class="max">To $<span id="slider-snap-value-to"></span></div>
            </div>
            {{ form.price_min }}
            {{ form.price_max }}
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <label class="form-label" for="form_type">Search</label>
            {{ form.search_text }}
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <button class="btn btn-primary" id="search" type="button" style="width: 100%"> <i class="fas fa-search mr-1"></i>Search </button>
        </div>

        <input type="hidden" value="true" name="search_">
        <input type="hidden" value="1" name="page">


    </div>
{#    <div class="row">#}
{#          <div class="col-sm-6 mb-4 order-2 order-sm-1">#}
{##}
{#          </div>#}
{#          <div class="col-sm-6 mb-4 order-2 order-sm-1">#}
{#            <button class="btn btn-primary" style="float:right" type="submit"> <i class="fas fa-search mr-1"></i>Search </button>#}
{#          </div>#}
{#    </div>#}
</form>