{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'app/basic/head.html' %}
<body style="padding-top: 72px;">

{% include 'app/basic/header.html' %}


<div class="container-fluid" style="min-height: Calc(100vh - 80px - 71px);">
    <div class="row">
        <div class="col-lg-6 py-4 p-xl-4">

            {% include 'app/basic/search_form.html' %}

            <hr class="mb-4 mt-1">
            <div class="ajax-container">
                {% include 'app/basic/content.html' %}
            </div>
        </div>

        <div class="col-lg-6 map-side-lg pr-lg-0">
            <div class="map-full shadow-left" id="categorySideMap"></div>
        </div>

    </div>
</div>

<!-- Footer-->
<footer class="position-relative z-index-10 d-print-none">

    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <p class="text-sm mb-md-0">&copy; 2020, Your company. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
                        <li class="list-inline-item">
                            Create &nbsp;<a class="text-sm mb-md-0" href="https://tgcoders.pl/" target="_blank">TGcoders.pl</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Script-->
{% include 'app/basic/home_script.html' %}
</body>
</html>